<div class="container">
  <div class="row justify-content-center">
    <div class="new-list-container col-12 col-lg-6">
      <%= simple_form_for [@category, @list] do |f| %>
        <h3>Update your list</h3>
        <%= f.input :name  %>
        <%# <%= f.input :photo, as: :file %>
        <%= f.button :submit, label: "update my list", class: 'btn btn-flat' %>
      <% end %>
    </div>
  </div>
</div>
