// Define variables for your color scheme
$background-color-site : #2a2828;
$button-add: #42d7fb;
$button-add-hover: #42d7fb;
// $linear-gradiant-cards: linear-gradient(rgb(0 0 0 / 20%), rgb(0 0 0 / 11%);

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
