// categories
.category-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin : 20px;

}

.category-card-1 {
  height: 80vh;
  width : 47vw;
  color: white;
  background-image: url('books.png'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  background-size: cover;
  background-position: center;
  opacity:0.8;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    opacity : 1;
  }
  .list-card-text {
    display: flex;
    align-content: center;
    text-decoration: none;

  }
  .link-card-category {
    text-decoration: none !important;
  }

}
.category-card-2 {
  height: 80vh;
  width : 47vw;
  color: white;
  background-image: url('movies.png'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  background-size: cover;
  background-position: center;
  opacity:0.8;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    opacity : 1;
  }
  .list-card-text {
    display: flex;
    align-content: center;

  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .category-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .category-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .category-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .category-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .category-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// lists

.list-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin : 20px;
}
.list-card {
  height: 300px;
  color: white;
  background-size: cover;
  background-position: center;
  opacity:0.8;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    opacity : 1;
    .far {
      opacity : 0.8;

    }
    .fas {
      opacity : 0.8;

    }
  }
  .link-card-category {
    text-decoration: none !important;
    color: white;
  }
  .list-changes{
    display: flex;
    justify-content: end;
    position: absolute;
    top : 20px;
    right : 30px;
    text-decoration: none;
    font-size: 16px;
  }
  .fas {
    text-decoration: none;
    margin-right: 5px;
    opacity : 0;
    color: white;

  }
  .far {
    text-decoration: none;
    color: white;
    opacity: 0;
  }
  .list-card-text {
    display: flex;
    align-content: center;
    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;

  }

}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .list-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .list-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .list-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .list-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .list-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// bookmarks

.bookmark-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;


}

.bookmark-card {
  height: 350px;
  color: white;
  background-size: cover;
  background-position: center;
  opacity:0.8;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    opacity : 1;
    .far {
      opacity : 0.8;

    }
    .fas {
      opacity : 0.8;

    }
  }

  .bookmark-changes{
    display: flex;
    justify-content: end;
    position: absolute;
    top : 20px;
    right : 30px;
    text-decoration: none;
    font-size: 16px;
  }
  .fas {
    text-decoration: none;
    margin-right: 5px;
    opacity : 0;
    color: white;

  }
  .far {
    text-decoration: none;
    color: white;
    opacity: 0;
  }
  .bookmark-card-text {
    display: flex;
    align-content: center;
    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;

  }

}


@media (min-width: 100px) and (max-width: 575px) {
  .bookmark-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .bookmark-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .bookmark-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .bookmark-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .bookmark-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
