.navbar-lewagon {
  justify-content: space-between;
  background:$background-color-site;
  color: rgb(112, 100, 100);

.nav-link{
    color: white !important;
  }
}

.navbar-nav {
  margin-right: 30px;;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
