.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $button-add;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $button-add-hover;
  color: white;
}
